<div class="clr-swh no-js-hidden">
  <sht-prd-qck-vw-variant-swtch class="variant-swatch d-flex fw-wrap gap-1x hide-empty" style="--variant-swatch-size: 48px">
    {% render 'core-color-swatch', product: product, option: option, section: section, product_form_id: product_form_id, index: index %}
  </sht-prd-qck-vw-variant-swtch>
</div>

