<div class="clr-swh no-js-hidden">
  <sht-featured-prd-variant-swtch class="variant-swatch gap-1x d-flex fw-wrap gap-8 r-gap-12 hide-empty">
    {% render 'core-color-swatch', product: product, option: option, section: section, product_form_id: product_form_id, input_class: 'js-featured-variant-radio-item', index: index %}
  </sht-featured-prd-variant-swtch>
</div>
