<div class="clr-swh no-js-hidden">
  <sht-srch-variant-swtch class="filter-variant-swatch variant-swatch hide-empty scrollbars">
    {%- render 'core-color-swatch-with-show-more', option: option, section: section -%}
  </sht-srch-variant-swtch>
</div>
