<div class="clr-swh no-js-hidden">
  <sht-coll-prd-variant-swtch class="filter-variant-swatch variant-swatch d-grid start-xs hide-empty scrollbars">
    {%- render 'core-color-swatch-with-show-more', option: option, section: section -%}
  </sht-coll-prd-variant-swtch>
</div>
