<div class="clr-swh no-js-hidden">
  <sht-quick-view-variant-swatch-select id="ColorSwatch-{{ section.id }}-{{ index }}" data-select-id="Option-{{ section.id }}-{{ index }}" style="--variant-swatch-size:var(--button-size-large)">
    <sht-prd-variant-swtch-w-select class="variant-swatch d-flex fw-wrap gap-12 hide-empty">
      {% render 'core-color-swatch-w-select', product: product, option: option, section: section, product_form_id: product_form_id, index: index %}
    </sht-prd-variant-swtch-w-select>
  </sht-quick-view-variant-swatch-select>
</div>