.collection-products-filter {
  outline: none;
}
.collection-products--drawer .filter__drawer__overlay {
  display: block;
}
.collection-products--drawer .filter__drawer{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.filter__drawer__wrapper{
  height: 100%;
  background: transparent;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: width .25s var(--timing-function-off) .25s;
  position: relative;
}
.filter__drawer[open] .filter__drawer__wrapper {
  background: var(--color-background);
}
.filter__drawer__header {
  top: 0;
  padding: 1.2rem 2.4rem;
  background: var(--color-background);
  z-index: 4;
  gap: 1.2rem;
}

.collection-products--drawer .filter__drawer {
  padding: var(--gutter-container);
}
.filter__drawer[open] {
  visibility: visible;
  opacity: 1;
  z-index: 86;
}
.collection-products--drawer .filter__drawer__container{
  width: 400px;
  max-width: 100%;
  height: 100%;
  border-radius: var(--drawer-radius);
  overflow: hidden;
}
.filter__drawer__overlay {
  background: rgba(var(--color-drawer-mask),.5);
  backdrop-filter: blur(10px);
}
.collection-products--drawer .filter__drawer__body{
  padding: 12px 24px;
  height: 100%;
  overflow-y: scroll;
}

.collection-products--drawer .filter__drawer__footer{
  display: flex;
}
.collection-products--drawer .products-filter-switch{
  display: none;
}
.icon-switch{
  font-size: 0;
  width: 4.2rem;
  height: 2.4rem;
  background-color: var(--color-disable-text);
  border-radius: 50px;
  position: relative;
  transition: all ease .25s;
}
.icon-switch:after{
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-button-outline-background);
  position: absolute;
  top: calc(50% - 10px);
  left:2px;
  transition: all ease .25s;
}
.icon-switch:checked {
  background-color: rgb(var(--color-normal-text-rgb));
}
.icon-switch:checked:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.collection-products--top-bar .filter-form__summary:hover,
.collection-products--top-bar .filter-form__summary[aria-expanded="true"] {
  color: var(--color-button-background);
}
.filter-form__details[open] .btn-icon{
  transform: rotate(180deg);
}
.filter-variant-swatch {
  grid-gap: 8px 16px;
  padding-inline: 2px;
}
.filter-form__item .product-swatches {
  position: relative;
  width: 28px;
  height: 28px;
}
.product-swatches-label{
  cursor: pointer;
}
.filter-form__radio:checked + .product-swatches-label .product-swatches {
  box-shadow: inset 0 0 0 1px var(--color-border),0 0 0 1px var(--color-background),0 0 0 2px rgb(var(--color-normal-text-rgb));
}

.filter-form--disabled .product-swatches {
  opacity: 0.6;
  cursor: not-allowed;
}
.filter-form--disabled .product-swatches-label {
  text-decoration: line-through;
  color: var(--color-disable-text);
  cursor: not-allowed;
}

.filter-form__active-filters .filter__clear__all:only-child {
  display: none;
}
.sort_field select {
  padding: 0.8rem 2.8rem 0.8rem 0;
  color: var(--color-normal-text);
  -webkit-appearance: none;
  appearance: none;
  height: 4rem;
  border: none;
  outline: none;
  background: transparent;
}
.sort_field select option {
  color: initial;
}
.filter-form__price {
  padding-left: 32px;
}

.collection-products .grid__item{
  width: 100%;
  max-width: 100%;
}
.collection-product-main[mobile-layout="2"] .collection-products .grid__item{
  width: calc((100%/12) * 6);
  max-width: calc((100%/12) * 6);
}

.prd-swh-layout-label {
  padding: 8px 16px;
  color: var(--color-disable-text);
  cursor: pointer;
  border-radius: 0;
}
.prd-swh-layout-item:checked + .prd-swh-layout-label {
  color: var(--color-normal-text);
}
.prd-swh-layout:before,
.prd-swh-layout:after,
.prd-swh-layout-label ~ .prd-swh-layout-label:before {
  content: '';
  width: 1px;
  height: 24px;
  background-color: var(--color-disable-text);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.prd-swh-layout:before{
  left: 0;
}
.prd-swh-layout:after{
  left: auto;
  right: 0;
}
.collection-products-filter--horizontal .filter-form__items {
  max-height: 400px;
  overflow-y: scroll;
}

.filter-form-wrapper{
  display: grid;
  gap: 24px;
}
.filter-form__summary {
  padding-block: 8px;
}
.filter__clear__all:after {
  content: '';
  height: var(--gutter-base);
  display: block;
}
.filter__clear__all .btn {
  min-height: auto;
  line-height: 1.5;
  padding: 4px 0;
}
.filter-drawer-open button{
  padding-inline: 0;
}
.range-slider input[type="range"] {
  outline: none;
  background: transparent;
}
.range-slider-bar {
  height: 4px;
  top: 1px;
  border-radius: 5px;
}
.range-slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
.range-slider input[type="range"]::-ms-track,
.range-slider input[type="range"]::-moz-range-track,
.range-slider input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
}
.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  border: 4px solid;
  border-color: var(--color-normal-text);
  cursor: pointer;
  background: var(--color-background);
  border-radius: 10px;
  margin-top: 3px;
  pointer-events: auto;
  transition: all .2s cubic-bezier(.7,0,.3,1);
}
.range-slider input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
  transform: translateY(-7px);
  border-color: var(--color-normal-text);
  background: var(--color-background);
  transition: all .2s cubic-bezier(.7,0,.3,1);
}
.range-slider input[type="range"]::-ms-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border: 4px solid;
  border-radius: 50%;
  pointer-events: auto;
  transition: all ease 0.3s;
  border-color: var(--color-normal-text);
  background: var(--color-background);
  transition: all .2s cubic-bezier(.7,0,.3,1);
}
input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 2px var(--color-border);
  transition: all .4s cubic-bezier(.7,0,.3,1);
}
input[type="range"]:active::-webkit-slider-thumb {
  transition: all .2s cubic-bezier(.7,0,.3,1);
}
.tab-search-result{
  margin-bottom: calc(var(--gutter-base) * 2);
}
.field__checkbox:not(.disabled) input,
.field__checkbox:not(.disabled) label {
  cursor: pointer;
}
.btn-switch-filter {
  border-radius: 0;
}
@media(min-width: 1025px) {
  .collection-products--top-bar {
    row-gap: var(--gutter-base);
  }
  .collection-products--top-bar .collection-product-main{
    margin-top: 60px;
  }
  .collection-products--top-bar .filter__drawer__footer,
  .collection-products--side-bar .filter__drawer__overlay {
    display: none;
  }
  .collection-products--top-bar .filter__drawer__overlay {
    display: none;
  }
  .collection-products--top-bar .filter__drawer__header {
    display: none;
  }
  .collection-products--top-bar .filter-form-wrapper {
    border: 1px solid var(--color-border);
    padding: calc(var(--gutter-base) / 2) calc(var(--gutter-base) * 2);
    border-radius: var(--common-radius-sm);
    display: flex;
    flex-wrap: wrap;
    gap: .8rem calc(var(--gutter-base) * 3);
  }
  .collection-products--top-bar .filter-dropdown{
    width: 35rem;
    max-width: 35rem;
    position: absolute;
    z-index: 2;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--common-radius-sm);
    background: var(--color-background);
    box-shadow: 0px 1px 4px 0px var(--color-border);
    padding: 1.6rem;
  }
  .collection-products--top-bar .is-open .dropdown {
    transform: translateY(0);
    opacity: 1;
    transition: transform .25s var(--timing-function-on),opacity .25s var(--timing-function-on);
  }
  .collection-products-filter--horizontal{
    display: block;
    height: var(--filter-height);
    opacity: 1;
    transition: all ease .25s;
  }
  .hide-filter .collection-products-filter--horizontal{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all ease .25s;
  }
  collection-products-filter--side-bar {
    display: block;
    opacity: 1;
    transition: all ease .25s;
  }
  .collection-product-main[desktop-layout="3"] .collection-products .grid__item{
    width: calc((100%/12) * 4);
    max-width: calc((100%/12) * 4);
  }
  .collection-product-main[desktop-layout="4"] .collection-products .grid__item{
    width: calc((100%/12) * 3);
    max-width: calc((100%/12) * 3);
  }
  .collection-product-main[desktop-layout="6"] .collection-products .grid__item{
    width: calc((100%/12) * 2);
    max-width: calc((100%/12) * 2);
  }
  .filter-drawer-open {
    display: none;
  }
  .filter-drawer-open svg {
    width: 24px;
    height: 24px;
  }
  .collection-products--drawer .filter-drawer-open {
    display: block;
  }

  .collection-products--side-bar .collection-products-filter{
    width: calc(260px + (var(--gutter-base) * 3));
    transition: all ease .5s;
    overflow: hidden;
    padding-right: calc(var(--gutter-base) * 3);
  }
  .collection-products--side-bar.hide-filter .collection-products-filter{
    margin-left: calc(-260px - (var(--gutter-base) * 3));
  }

  .collection-products--side-bar .collection-products-container {
    display: grid;
    overflow: hidden;
    grid-template-columns: auto 1fr;
  }
  .collection-products--side-bar .filter-form__active-filters {
    margin-top: 2px;
  }
  .btn-switch-filter.active .show_filter,
  .collection-products--side-bar .filter__drawer__header {
    display: none;
  }
  .btn-switch-filter{
    padding-inline: 0;
  }
  .btn-switch-filter.active .hide_filter{
    display: block;
  }
  .collection-products--side-bar .filter-form-top {
    margin-bottom: calc(var(--gutter-base) * 3);
  }
  .collection-products--top-bar .filter-variant-swatch{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 400px;
    overflow-y: scroll;
  }
  .filter-form-top{
    margin-bottom: var(--gutter-base);
  }
  .products-filter-switch svg {
    width: 24px;
    height: 24px;
  }
}

@media(max-width: 1024px) {
  .filter__drawer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    padding: var(--gutter-container);
  }
  .collection-products-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--gutter-base) * 2);
  }
  .filter-drawer-open{
    min-width: max-content;
  }
  .coll-prd-filter-switch{
    display: none;
  }
  .collection-product-header--right{
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
  .filter-form-sorting{
    flex: 1 0 100%;
  }
  .filter__drawer__container{
    width: 400px;
    max-width: 100%;
    height: 100%;
    border-radius: var(--drawer-radius);
    overflow: hidden;
  }
  .filter__drawer__overlay {
    background: rgba(23, 22, 26, 0.50);
    backdrop-filter: blur(10px);
  }
  .filter__drawer__body{
    padding: 12px 24px;
    height: 100%;
    overflow-y: scroll;
  }
}