.password-modal[open] .modal {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.password-modal .modal {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
.password__footer {
  padding: 16px var(--gutter-container);
}
.modal__content {
  padding: var(--gutter-container);
}
.password-modal__content {
  height: auto;
}
.password-modal__content .dialog__body {
  padding: 1.2rem 2.4rem 1.6rem;
}
.modal-dialog__body {
  overflow-y: auto;
}
.btn-modal-close {
  padding: 10px;
}
.password__newsletter {
  width: 100%;
  max-width: 650px;
}
.password__admin-account a {
  z-index: 0;
}
.password__logo {
  margin-bottom: calc(var(--font-body-size)* 1.5);
}