<style>
  .rps-results-page-title {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0 10px;
  }
</style>

<h1 class="rps-results-page-title">{{ page.title }}</h1>

{% render 'rapid-search-results-skeleton' %}